In [1]:
import pandas as pd

In [4]:
sent_df = pd.read_csv("sentiments_movies.csv").drop('Index', axis=1)
info_df = pd.read_csv("movie_info.csv")

In [7]:
sent_df.columns, info_df.columns

(Index(['date', 'title', 'production budget', 'domestric budget',
        'worldwide gross', 'negative', 'positive'],
       dtype='object'),
 Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
        'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster',
        'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type',
        'DVD', 'BoxOffice', 'Production', 'Website', 'totalSeasons',
        'Response'],
       dtype='object'))

In [8]:
info_df.columns = [col.lower() for col in info_df.columns]
sent_df.columns, info_df.columns

(Index(['date', 'title', 'production budget', 'domestric budget',
        'worldwide gross', 'negative', 'positive'],
       dtype='object'),
 Index(['title', 'year', 'rated', 'released', 'runtime', 'genre', 'director',
        'writer', 'actors', 'plot', 'language', 'country', 'awards', 'poster',
        'ratings', 'metascore', 'imdbrating', 'imdbvotes', 'imdbid', 'type',
        'dvd', 'boxoffice', 'production', 'website', 'totalseasons',
        'response'],
       dtype='object'))

In [9]:
df = pd.merge(sent_df, info_df, on='title', how='left')
df.fillna(0, inplace=True)

In [10]:
len(df), len(info_df), len(sent_df)

(2010, 1873, 2010)

In [11]:
df.head()

,date,title,production budget,domestric budget,worldwide gross,negative,positive,year,rated,released,...,imdbrating,imdbvotes,imdbid,type,dvd,boxoffice,production,website,totalseasons,response
0,"Jan 4, 2013",Texas Chainsaw 3D,"$20,000,000","$34,341,945","$47,666,013",35.0,11.0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0,0
1,"Jan 4, 2013",Promised Land,"$15,000,000","$7,597,898","$12,394,562",34.0,19.0,2012,R,04 Jan 2013,...,6.6,"39,714",tt2091473,movie,23 May 2016,"$7,597,898",0,0.0,0.0,0
2,"Jan 4, 2013",All Superheroes Must Die,"$20,000",$0,$0,1.0,2.0,2011,Unrated,04 Jan 2013,...,3.9,"2,305",tt1836212,movie,14 Oct 2014,0,0,0.0,0.0,0
3,"Jan 8, 2013",Yi dai zong shi,"$38,600,000","$6,594,959","$57,986,660",0.0,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0,0
4,"Jan 9, 2013",Gangster Squad,"$60,000,000","$46,000,903","$104,100,903",44.0,27.0,2013,R,11 Jan 2013,...,6.7,"222,133",tt1321870,movie,01 Nov 2014,"$46,000,903",0,0.0,0.0,0

In [18]:
# df.columns
df = df.drop('response', axis=1)
df.columns

Index(['date', 'title', 'production budget', 'domestric budget',
       'worldwide gross', 'negative', 'positive', 'rated', 'runtime', 'genre',
       'director', 'writer', 'actors', 'plot', 'language', 'country', 'awards',
       'poster', 'ratings', 'metascore', 'imdbrating', 'imdbvotes', 'imdbid',
       'type', 'dvd', 'boxoffice', 'production', 'website', 'totalseasons'],
      dtype='object')

In [15]:
df.to_csv("complete_movies.csv", index=False)