In [2]:
import pandas as pd

In [56]:
sent_df = pd.read_csv("sentiments_movies.csv").drop('Index', axis=1)
info_df = pd.read_csv("new_merged_scrapped.csv")

In [57]:
info_df.columns = [col.lower() for col in info_df.columns]
sent_df.columns, info_df.columns

(Index(['date', 'title', 'production budget', 'domestric budget',
        'worldwide gross', 'negative', 'positive'],
       dtype='object'),
 Index(['title', 'year', 'rated', 'released', 'runtime', 'genre', 'director',
        'writer', 'actors', 'plot', 'language', 'country', 'awards', 'ratings',
        'metascore', 'imdbrating', 'imdbvotes', 'imdbid', 'type', 'boxoffice',
        'production'],
       dtype='object'))

In [58]:
df = sent_df.merge(info_df, on='title', how='inner')
df.fillna(0, inplace=True)

In [59]:
len(df), len(info_df), len(sent_df)

(1716, 1916, 2010)

In [70]:
# df = df[(df['domestric budget'] != '$0') | (df['worldwide gross'] != '$0')]
# df['runtime'] = df['runtime'].str.replace(' min', '')
# df = df.drop('year', axis=1)
# df = df.drop('released', axis=1)
df = df.drop('production', axis=1)

In [71]:
df.head()

,date,title,production budget,domestric budget,worldwide gross,negative,positive,rated,runtime,genre,...,language,country,awards,ratings,metascore,imdbrating,imdbvotes,imdbid,type,boxoffice
0,"Jan 4, 2013",Promised Land,"$15,000,000","$7,597,898","$12,394,562",34.0,19.0,R,106,Drama,...,English,"United States, United Arab Emirates",3 wins & 7 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",55.0,6.6,"39,714",tt2091473,movie,"$7,597,898"
2,"Jan 9, 2013",Gangster Squad,"$60,000,000","$46,000,903","$104,100,903",44.0,27.0,R,113,"Action, Crime, Drama",...,English,United States,5 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",40.0,6.7,"222,133",tt1321870,movie,"$46,000,903"
3,"Jan 11, 2013",A Haunted House,"$2,500,000","$40,041,683","$59,922,558",17.0,16.0,R,86,"Comedy, Fantasy, Horror",...,"English, Spanish",United States,1 win & 1 nomination,"[{'Source': 'Internet Movie Database', 'Value'...",20.0,5.0,"49,729",tt2243537,movie,"$40,041,683"
4,"Jan 17, 2013",The Last Stand,"$30,000,000","$12,050,299","$48,330,757",66.0,49.0,R,107,"Action, Thriller, Western",...,English,"United States, South Korea",1 win & 2 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",54.0,6.3,"145,119",tt1549920,movie,"$12,050,299"
5,"Jan 17, 2013",Mama,"$15,000,000","$71,628,180","$148,095,566",16.0,13.0,PG-13,100,"Fantasy, Horror, Thriller",...,English,"Canada, Spain",11 wins & 19 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",57.0,6.2,"190,851",tt2023587,movie,"$71,628,180"

In [77]:
genre_lists = df['genre'].dropna().str.split(', ')
all_genres = [genre for sublist in genre_lists for genre in sublist]
unique_genres = set(all_genres)
unique_genres_list = list(unique_genres)

In [87]:
# df_copy = df.copy()

# Ensure 'genre' column is split into lists (if not already)
df['genre'] = df['genre'].dropna()

# Create a new column for each genre in the unique genres list
for genre in unique_genres_list:
    df[genre] = df['genre'].apply(lambda genres: 1 if genre in genres.split(', ') else 0)

In [92]:
df = df.drop('boxoffice', axis=1)

In [93]:
df.to_csv("complete_movies.csv", index=False)